.App {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  min-height: 100vh;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  background-color: #38bdf8;
  color: white;
  cursor: pointer;
}
input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
